{
 "configurations": {
   "apiVersion": "6.0-preview",
   "organization": "giandomenicoavelluto",
   "project": "OpenDataMesh",
   "pipelineId": "1",
   "pipelineVersion": "1"
 },
 "variables": {
   "artifactName": {
     "isSecret": false,
     "value": "odm-plane-utility-provisionservice-terraform"
    },
    "artifactFilePath": {
     "isSecret": false,
     "value": "target/provisioner-0.0.1-SNAPSHOT.jar"
    }
  }
}
