{
 "configurations": {
   "apiVersion": "6.0-preview",
   "organization": "giandomenicoavellutoo",
   "project": "OpenDataMesh",
   "pipelineId": "1",
   "pipelineVersion": "1"
 },
 "variables": {
   "artifactFilePath": "target/provisioner-0.0.1-SNAPSHOT.jar",
   "artifactName": "odm-plane-utility-provisionservice-terraform"
 }
}
